.nav-menu > :nth-child(1) {
    color: #FFB24B;
    cursor: not-allowed;
    pointer-events: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.show-case {
    height: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-right: 80px;
    gap: 20px;
    transition: 0.7s ease;
}

.welcome-text {
    display: flex;
    margin-right: 80px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Allison", cursive;
    font-size: 100px;
}

#headshot {
    background: url("../assets/images/tinder/img1.jpg") no-repeat 0 0 / cover;
    width: 144px;
    height: 159px;
}

#tinder {
    background: url("../assets/images/tinder/img2.jpg") no-repeat 0 0 / cover;
    width: 144px;
    height: 159px;
}

#wedding {
    background: url("../assets/images/tinder/img3.jpg") no-repeat -60px 0 / cover;
    width: 144px;
    height: 159px;
}

#bourdoir {
    background: url("../assets/images/tinder/img4.jpg") no-repeat 0 0 / cover;
    width: 144px;
    height: 159px;
}

h3 {
    display: flex;
    width: 100%;
    height: 53px;
    justify-content: center;
    align-items: center;
    font-family: "caveat", sans-serif;
    color: black;
}

#tilted {
    transform: rotate(-8deg);
}

@media (max-width: 930px) {
    .welcome-text {
        font-size: 80px;
    }
}

@media (max-width: 890px) {
    main {
        flex-direction: column;
    }

    .welcome-text {
        margin-bottom: 40px;
        margin-right: 0;   
        justify-content: center;

    }

    .show-case {
        margin-right: 0;
    }
}