*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #090C0F;
}

body {
    min-height: 100vh;
    background: url("../assets/images/background/main-background.jpg") no-repeat 0 0/cover;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/*button*/

.btn {
    display: flex;
    padding: 4px 16px 4px 16px;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", sans-serif;
    border-radius: 50px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.btn:hover {
    border: 1px solid #FFB24B;
    color: #FFB24B;
    box-shadow: 0 0 5px 0 #FFB24B;
}

/*fonts*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    color: white;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 39px;
}

h3 {
    font-size: 31px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

/*header*/

nav a {
    color: white;
    font-size: 16px;
    padding: 0 10px;
    position: relative;
}

nav a:after{
    content: "";
    background-color: #FFB24B;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    position: absolute;
}
nav a:hover {
    color: #FFB24B;
}

nav a:hover:after {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 34px;
    width: 70px;
    margin: 40px 40px;
}

nav {
    display: flex;
    width: 100%;
    height: 114px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.link-home {
    cursor: pointer;
}

/*footer*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.so-me-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: 40px;
}

.fb-logo {
    width: 44px;
    height: 44px;
    background-image: url("../assets/logo/fb.png");
    cursor: pointer;
}

.ig-logo {
    width: 44px;
    height: 44px;
    background-image: url("../assets/logo/ig.png");
    cursor: pointer;
}
