*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;

body {
    min-height: 100vh;
    background: url("../assets/images/background/main-background.jpg") no-repeat 0 0/cover;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/*button*/

.btn {
    display: flex;
    padding: 4px 16px 4px 16px;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", sans-serif;
    border-radius: 50px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin: 10px;
    transition: 0.2s ease;
}

.btn:hover {
    border: 1px solid #FFB24B;
    color: #FFB24B;
    box-shadow: 0 0 5px 0 #FFB24B;
}

/*fonts*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    color: white;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 39px;
}

h3 {
    font-size: 31px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p {
    font-family: "lato", sans-serif;
    font-size: 20px;
    color: white;
}

.p2 {
    font-size: 16px;
}

.p-mobile {
    font-size: 14px;
}

.polaroid-font {
    font-family: "caveat", sans-serif;
    color: black;
}

/*header*/

nav a {
    color: white;
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
    padding: 0 10px;
    position: relative;
    transition: 0.7s ease;
}

nav a:after{
    content: "";
    background-color: #FFB24B;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    position: absolute;
}

nav a:hover {
    color: #FFB24B;
}

nav a:hover:after {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(255, 178, 75, 0.1) 0%, rgba(255, 178, 75, 0) 100%);
}

.logo {
    height: 34px;
    width: 70px;
    margin: 40px 40px;
}

nav {
    display: flex;
    width: 100%;
    height: 114px;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 40px;
}

.link-home {
    cursor: pointer;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/*footer*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.so-me-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 40px;
}

.fb-logo {
    width: 44px;
    height: 44px;
    background-image: url("../assets/logo/fb.png");
    cursor: pointer;
}

.ig-logo {
    width: 44px;
    height: 44px;
    background-image: url("../assets/logo/ig.png");
    cursor: pointer;
}

.copyright {
    font-size: 14px;
}

.polaroid-bg {
    background: white;
    border-radius: 0 0 8px 8px;
    width: 168px;
    height: 212px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: top ease-in 0.5s;
}

.polaroid-bg:hover {
    position: relative;
    top: -10px;
    box-shadow: 0 4px 20px 0 #FFF;
    transition: ease-in 0.2s;
}

@media (max-width: 830px) {
    nav a {
        font-size: 14px;
    }
}

@media (max-width: 739px) {
    .hamburger {
        display: block;
        margin: 40px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    nav {
        position: fixed;
        right: -100%;
        gap: 20px;
        top: 75px;
        flex-direction: column;
        justify-content: center;
        background: rgba(0, 0, 0, 0) 80%;
        transition: 0.3s;
        z-index: 2;
        height: 300px;
        margin: 0;
        backdrop-filter: blur(10px);
    }

    nav.active {
        right: 0;
    }
}
