@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Allison&family=Cambay&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #090C0F;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
}