@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #090C0F;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: "Allison", cursive;
    font-size: 100px;
    font-weight: 400;
    color: white;
}

.navbar a {
    font-family: "Playfair+Display", sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-left: 65px;
}

.navbar a:hover {
    font-family: "Playfair+Display", sans, serif;
    color: #FFB24B;
}

.flex-container {
    display: flex;
    align-items: center;
}

.left-column {
    flex: 1;
    text-align: center;
}

.photo-showcase {
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.right-column {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
}

.image-grid img {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.logo {
    display: flex;
    justify-content: flex-end;
}